body {
  margin: 0;
  background-color: #f8f9fa;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__day--selected {
  background-color: #384660 !important;
}

.react-datepicker__header {
  background-color: #e9ecef !important;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  left: -120px !important;
}

input[disabled] {
  color: #ced4da;
}
