<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Special Needs Forms</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/fd7b2f50ce.js" crossorigin="anonymous"></script>
</head>
<body>
  <div id="app-root"></div>
</body>

<script src={{ react_uri }}></script>
</html>